
.App-header {
  height: 100px;
  padding: 30px 20px;
}
#logo {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
   
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.custom-container {
  padding: 15px;
  text-align: left;
}

.custom-btn {
  margin-top: 10px;
  background-color: #f7882f;
  font-weight: 400;
  color: #333;
}

.custom-btn:hover {
  background-color: #f7c331;
}

.logout-button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  color: #6b7a8f;
  font-weight: 400;
  margin-right: 15px;
}

.navbar-links:hover{
  text-decoration: none;
  color: #f7882f;
}

.navbar-links:visited, .navbar-links:active {
  text-decoration: none;
}

.header-image{
  width: 600px;
}

.sub-titles {
  text-align: center;
  margin-top: 170px;
}

.sub-titles h1, h3 {
  font-weight: 100;
}

.sub-titles h5 {
  margin-top: 40px;
}

.dash {
  width: 90px;
  height: 2px;
  margin: 10px;
  background-color: #6b7a8f;
  display: inline-block;
  text-align: center;
}
