
.App-header {
  height: 150px;
  padding: 20px;
}
#logo {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
   
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.custom-container {
  padding: 15px;
  text-align: left;
}

.custom-btn {
  margin-top: 10px;
  background-color: #f7882f;
  font-weight: 400;
  color: #333;
}

.custom-btn:hover {
  background-color: #f7c331;
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  color: #6b7a8f;
  font-weight: 400;
  margin-right: 15px;
}

.left-header {
  float: left;
  width: 50%;
  text-align: left,
}

.right-header {
  float: right;
  width: 50%;
  text-align: right;
}

.navbar-links:hover{
  text-decoration: none;
  color: #f7882f;
}

.navbar-links:visited, .navbar-links:active {
  text-decoration: none;
  
}

